@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0%, 0%;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background: #f0f7ff;
  --button: #3667e9;
  --button-foreground: #2a50b9;
  --error: #c34648;
  --input: #6d7088;
  --primary: #171731;
  --primary-foreground: #14126d;
  --muted: #65657b;
  --muted-foreground: #e5e7eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* UI components custom style classes */
.button {
  @apply block w-full rounded-xl bg-button px-4 py-3 text-center font-bold tracking-[0.2px] text-white shadow-sm hover:bg-button-foreground disabled:pointer-events-none disabled:bg-gray-200 disabled:text-primary-foreground;
}
